body, html {
  height: 100%;
  margin: 0;
}

h1 {
	font-size: 42px;
}

@media (max-width: 850px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.navbar-inverse .navbar-right > .facebook_link > a:hover {
    background-color: #3b5998;
}

.navbar-inverse .navbar-right > .twitter_link > a:hover {
    background-color: #0084b4;
}

.navbar-inverse .navbar-right > .linkedin_link > a:hover {
    background-color: #0077B5;
}

.navbar-inverse .navbar-right > .soundcloud_link > a:hover {
    background-color: #ff7700;
}

.navbar-inverse .navbar-right > .youtube_link > a:hover {
    background-color: #c4302b;
}

.navbar {
	font-family: Mallanna;
	font-size: 18px;
	background-color: rgba(0,0,0,0.75);
}

.navbar-brand {
	font-size: 22px;
	transition: 0.4s;
}

.navbar-nav a {
	transition: 0.4s;
}

.social_media_icons {
	font-size: 22px;
	transition: 0.4s;
}

.parallax_image {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	position: relative;
	background-position: center;
	background-size: cover;
	background-image: url("../images/bgimg-1.jpg");
	min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/bgimg-2.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("../images/bgimg-3.jpg");
  min-height: 500px;
}

.bgimg-4 {
  background-image: url("../images/bgimg-4.jpg");
  min-height: 500px;
}

.quote_caption {
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #fff;
}

.quote {
	font-family: Mallanna;
	font-size: 40px;
}

.quote_author {
	font-family: Mallanna;
	font-size: 30px;
	font-style: italic;
}

.album_caption {
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #fff;
}

.album_name {
	font-family: Cinzel Decorative;
	font-size: 80px;
}

.album_part {
	font-family: Cinzel Decorative;
	font-size: 50px;
	white-space: pre;
}

.section_div {
	font-family: Mallanna;
	color: #333333;
	background-color: white;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 60px;
	padding-bottom: 100px;
}

.title {
	padding-bottom: 20px;
}

.description {
	text-align: justify;
	font-size: 22px;
	padding-left: 5%;
	padding-right: 5%;
}

.final_section_div {
	font-family: Mallanna;
	color: white;
	background-color: #282828;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center
}

.get_in_touch {
	font-size: 34px;
	font-style: bold;
}

.email_address {
	padding-top: 50px;
	font-size: 24px;
}

.footer_div {
	font-family: Mallanna;
	font-size: 22px;
	color: white;
	background-color: black;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 50px;
	padding-bottom: 15px;
	text-align: center
}
